.container{
    border: 1px solid red;
    width: 60%;
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.squareone{
    border: 1px solid blue;
    height: 4rem;
    width: 4rem;
    display: flex;
    padding: 4px;
    margin: 6px;
}