.container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
}
.squareone{
    border: 1px solid blue;
    height: 3rem;
    width: 3rem;
    /* display: flex; */
    padding: 4px;
    margin: 6px;
}
.squaretwo{
    border: 1px solid blue;
    height: 3rem;
    width: 3rem;
    /* display: flex; */
    padding: 4px;
    margin: 6px;
}
.squarethree{
    border: 1px solid blue;
    height: 3rem;
    width: 3rem;
    /* display: flex; */
    padding: 4px;
    margin: 6px;
}
.squarefour{
    border: 1px solid blue;
    height: 3rem;
    width: 3rem;
    /* display: flex; */
    padding: 4px;
    margin: 6px;
}
.squarefive{
    border: 1px solid blue;
    height: 3rem;
    width: 3rem;
    /* display: flex; */
    padding: 4px;
    margin: 6px;
}